@using CredMgr.Models
@model UserInfoViewModels
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<head>
    <title>Credential Manager Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/styleLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="~/Content/img/wave.png">
    <div class="container">
        <div class="img">
            <img src="~/Content/img/bg.svg">
        </div>
        <div class="login-content">
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{ 
    @Html.ValidationSummary(true)    
    @Html.AntiForgeryToken()


                <img src="~/Content/img/avatar.svg">
                <h2 class="title">Welcome</h2>
                <p style="color:red">@ViewBag.error</p>
                <div class="input-div one">
                    
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                       <input class="input100" type="text" name="loginName" id="loginName" placeholder="Username" autocomplete="off" value="@Model.loginName" required/>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="loginPwd" id="loginPwd" placeholder="Password" autocomplete="off" value="@Model.loginPwd" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
          
}
        </div>
    </div>
    
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}