@using CredMgr.Models
@model InsuranceModel

@{
    ViewBag.Title = "EditInsurance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- start page content -->

<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Edit Insurance Master</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                   href="~/Home/Dashboard">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a class="parent-item" href="~/Master/Provider">Provider Master</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Edit Insurance Master</li>
        </ol>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @*<p style="color:blue">@ViewBag.Message</p>*@
            @Html.HiddenFor(model => model.PK_Insurance)
            <div class="card card-box">
                <div class="card-body" id="bar-parent">
                    <form action="#" id="form_sample_1" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group row wrap-input100 validate-input" data-validate="Enter username">
                                <label class="control-label col-md-3">
                                    Insurance Name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="InsuranceName" data-required="1"
                                           placeholder="Enter Insurance Name" id="InsuranceName"
                                           class="form-control input-height" value="@Model.InsuranceName" required />
                                    @Html.ValidationMessageFor(m => m.InsuranceName)

                                </div>
                            </div>

                           
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Insurance Code
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="InsuranceCode" data-required="1"
                                           placeholder="Enter Insurance Code" id="InsuranceName"
                                           class="form-control input-height" value="@Model.InsuranceCode" required />
                                    @Html.ValidationMessageFor(m => m.InsuranceCode)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Address Line 1
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <textarea name="AddressLine1" placeholder="Address Line 1"
                                              id="AddressLine1" value="@Model.AddressLine1" class="form-control-textarea"
                                              rows="5" required></textarea>
                                    @Html.ValidationMessageFor(m => m.AddressLine1)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Address Line 2
                                </label>
                                <div class="col-md-5">
                                    <textarea name="AddressLine2" placeholder="Address Line 2"
                                              id="AddressLine2" class="form-control-textarea" value="@Model.AddressLine2"
                                              rows="5" required></textarea>
                                    @Html.ValidationMessageFor(m => m.AddressLine2)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    City
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="City" data-required="1"
                                           id="City" placeholder="Enter City" value="@Model.City"
                                           class="form-control input-height" required />
                                    @Html.ValidationMessageFor(m => m.City)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    State
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="State" data-required="1"
                                           placeholder="Enter State" id="State" value="@Model.State"
                                           class="form-control input-height" required />
                                    @Html.ValidationMessageFor(m => m.State)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    ZipCode
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" name="ZipCode" data-required="1"
                                           placeholder="Enter ZipCode" id="ZipCode" value="@Model.ZipCode"
                                           class="form-control input-height" required />
                                    @Html.ValidationMessageFor(m => m.ZipCode)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Insurance Type
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    @Html.DropDownListFor(x => x.InsuranceType, new SelectList(ViewBag.list), "--Insurance Type---")
                                   
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Home PhoneNumber
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input name="PhoneNumber" type="text" placeholder="Home PhoneNumber"
                                           class="form-control input-height" id="PhoneNumber" value="@Model.PhoneNumber" required />
                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Email
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-height" name="EmailId"
                                               placeholder="Enter Email Address" id="EmailId" value="@Model.EmailId" required>
                                        @Html.ValidationMessageFor(m => m.EmailId)
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Website
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-height" name="Website"
                                               placeholder="Enter Website Address" id="Website" value="@Model.Website" required>
                                        @Html.ValidationMessageFor(m => m.Website)
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Note
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <textarea name="Note" placeholder="Note"
                                                  id="Note" class="form-control-textarea" value="@Model.Note"
                                                  rows="5" required></textarea>
                                        @Html.ValidationMessageFor(m => m.Note)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3">
                                    Payer ID
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-height" name="PayerID"
                                               placeholder="Enter Payer ID" id="PayerID" value="@Model.PayerID" required>
                                        @Html.ValidationMessageFor(m => m.PayerID)
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info m-r-20">Submit</button>
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}


<!-- end page content -->
